@{
    ViewBag.Title = "DeleteAll";
}

<h2>DeleteAll</h2>

@using (@Html.BeginForm("DeleteAll", "Logs", FormMethod.Post, new { @class = "form-horizontal"}))
{
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-lg btn-danger" />
    </div>
}